# Pinned remote progenix-std
FLAKE_REF=37d6125d51f7747e937e42ec91a73f20fd34a643
use flake --print-build-logs sourcehut:~cfeeley/progenix-std/${FLAKE_REF}#cf-site-shell

# Local progenix-std checkout
# use flake --print-build-logs ~/source/progenix-std#cf-site-shell
