; Don't commit downloaded Emacs packages
.packages/

; Ignore the org-publish cache
.org-cache/

; Ignore shared content with daviwil.com
public/

; Ignore Gemini output
gemini/

; Ignore errant README.html files
README.html

# nixago: ignore-linked-files
book.toml
treefmt.toml
adrgen.config.yml
lefthook.yml
.conform.yaml
# nixago-auto-created: mdbook-build-folder
docs/book/**
/result
/assets/img/apple-touch-icon-180x180.png
