; Don't commit downloaded Emacs packages
.packages/

; Ignore the org-publish cache
.org-cache/

; Ignore shared content with daviwil.com
public/

; Ignore Gemini output
gemini/
# nixago: ignore-linked-files
book.toml
treefmt.toml
adrgen.config.yml
lefthook.yml
.conform.yaml
# nixago-auto-created: mdbook-build-folder
docs/book/**